<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <h2>File Upload</h2>
    <form action ="/api/upload" method="POST" enctype="multipart/form-data">
        <div class="field">
            <label for="title">Title</label>
            <input type="text" name="title" id="">
        </div>
        <div class="field">
            <label for="file">File</label>
            <input type="file" name="img" id="">
        </div>
        <div class="field">
            <input type="submit">
        </div>
    </form>

    <h2>Search Uploaded Images</h2>
    <form action="/api/image" method="GET">
        <div class="field">
            <label for="title">Title</label>
            <input type="text" name="title" id="">
        </div>
        <div class="field">
            <input type="submit">
        </div>
</body>
</html>